body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    background-color: #2B2C28;
    color: #7de2d1;
}
header {
    background: #131515;
    color: #fffafb;
    padding: 20px 0;
    text-align: center;
}
section {
    color: #7de2d1;
}

nav {
    margin: 20px 0;
    justify-content: left;
}
nav a {
    color: #339989;
    margin: 0 15px;
    text-decoration: none;
    justify-content: left;
}
.portfolio {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.portfolio-item {
    background: #131515;
    border: 1px solid #ccc;
    color: #7de2d1;
    border-radius: 8px;
    margin: 15px auto;
    width: 300px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: auto;
}
.portfolio-item img {
    width: 50%;
    height: auto;
}
.portfolio-item h3 {
    padding: 15px;
    font-size: 20px;
    color: #7de2d1;
}
.portfolio-item p {
    padding: 0 15px 15px;
}
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
h1 {
    font-size: 40px;
    color: #339989;
}
a {
    color: #0e71c2;
    font-weight: bold;
}